<section>
  <div class="container d-flex justify-content-center">
    <nav>
      <ul class="pagination">
        {{ if gt .Current 1 }}
        <li class="page-item">
          <a
            class="page-link"
            aria-label="Previous"
            href="?page={{.Prev}}&sort={{.SortColumn}}&order={{.SortOrder}}&name={{.FilterName}}"
            ><span aria-hidden="true">« Prev</span></a
          >
        </li>
        {{ end }}
        <li class="page-item">
          <a
            class="page-link"
            aria-label="Next"
            href="?page={{.Next}}&sort={{.SortColumn}}&order={{.SortOrder}}&name={{.FilterName}}"
          >
            ><span aria-hidden="true">» Next</span></a
          >
        </li>
      </ul>
    </nav>
  </div>
</section>
