<div class="vh-100 d-flex">
  <div class="container my-auto">
    <h1 class="mx-auto w-25">Heading</h1>
    <form>
      <div class="row">
        <div class="col-md-5">
          <p class="text-sm-start text-md-end">Nazwa:&nbsp;</p>
        </div>
        <div class="col-md-5"><input class="form-control" type="text"></div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <p class="text-sm-start text-md-end">NIP:&nbsp;</p>
        </div>
        <div class="col-md-5"><input class="form-control" type="text"></div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <p class="text-sm-start text-md-end">Telefon:&nbsp;</p>
        </div>
        <div class="col-md-5"><input class="form-control" type="tel"></div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <p class="text-sm-start text-md-end">Osoba Kontaktowa:</p>
        </div>
        <div class="col-md-5"><input class="form-control" type="text"></div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <p class="text-sm-start text-md-end">Telefon osoby kontaktowej:&nbsp;</p>
        </div>
        <div class="col-md-5"><input class="form-control" type="tel"></div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <p class="text-sm-start text-md-end">www:</p>
        </div>
        <div class="col-md-5"><input class="form-control" type="text"></div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <p class="text-sm-start text-md-end">FB:</p>
        </div>
        <div class="col-md-5"><input class="form-control" type="text"></div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <p class="text-sm-start text-md-end">eMail:</p>
        </div>
        <div class="col-md-5"><input class="form-control" type="email"></div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <p class="text-sm-start text-md-end">Adres:</p>
        </div>
        <div class="col-md-5"><input class="form-control" type="text"></div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <p class="text-sm-start text-md-end">Adres Google KOD:</p>
        </div>
        <div class="col-md-5"><input class="form-control" type="text"></div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <p class="text-sm-start text-md-end">Google map URL:</p>
        </div>
        <div class="col-md-5"><input class="form-control" type="text"></div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <p class="text-sm-start text-md-end">Ostatni kontakt:</p>
        </div>
        <div class="col-md-5"><input class="form-control" type="date"></div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <p class="text-sm-start text-md-end">Następny kontakt:</p>
        </div>
        <div class="col-md-5"><input class="form-control" type="date"></div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <p class="text-sm-start text-md-end">Status:</p>
        </div>
        <div class="col-md-5"><select class="form-select">
          <optgroup label="This is a group">
            <option value="12" selected="">This is item 1</option>
            <option value="13">This is item 2</option>
            <option value="14">This is item 3</option>
          </optgroup>
        </select></div>
      </div>
      <div class="d-flex justify-content-end justify-content-sm-end justify-content-md-center my-2"><input class="btn btn-primary w-25" type="submit"></div>
    </form>
  </div>
</div>
