{{ range .Client}}

<div class="container">
  <div class=" h-75">
    <div class="mx-auto umw-80">

      <h3>Zmień dane Klienta #ID: {{.ID}}</h3>

      <!-- Name -->
      <form action="/clientupdate/{{.ID}}" class="d-md-flex my-3 gap-3" method="POST">
        <label for="name" class="form-label w-25">Nazwa:</label>
        <input class="form-control" type="text" id="name" name="name" value="{{.Name}}">
        <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
      </form>

      <!-- NIP -->
      <form action="/clientupdate/{{.ID}}" class="d-md-flex my-3 gap-3" method="POST">
        <label for="nip" class="form-label w-25">Nip:</label>
        <input class="form-control" type="number" id="nip" name="nip" value="{{.Nip}}">
        <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
      </form>

      <!-- Phone -->
      <form action="/clientupdate/{{.ID}}" class="d-md-flex my-3 gap-3" method="POST">
        <label for="phone" class="form-label w-25">Telefon:</label>
        <input class="form-control" type="tel" id="phone" name="phone" value="{{.Phone}}">
        <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
      </form>

      <!-- Contact Persone Name -->
      <form action="/clientupdate/{{.ID}}" class="d-md-flex my-3 gap-3" method="POST">
        <label for="contactpersone" class="form-label w-25">Osoba Kontaktowa</label>
        <input class="form-control" type="text" id="contactpersone" name="contactpersone" value="{{.ContactPersone}}">
        <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
      </form>

      <!-- Contact persone Phone -->
      <form action="/clientupdate/{{.ID}}" class="d-md-flex my-3 gap-3" method="POST">
        <label for="personephone" class="form-label w-25">Numer telefonu:</label>
        <input class="form-control" type="tel" id="personephone" name="personephone" value="{{.PersonePhone}}">
        <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
      </form>

      <!-- www -->
      <form action="/clientupdate/{{.ID}}" class="d-md-flex my-3 gap-3" method="POST">
        <label for="WWW" class="form-label w-25">WWW:</label>
        <input class="form-control" type="url" id="WWW" name="WWW" value="{{.WWW}}">
        <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
      </form>

      <!-- FB  -->
      <form action="/clientupdate/{{.ID}}" class="d-md-flex my-3 gap-3" method="POST">
        <label for="FB" class="form-label w-25">FB:</label>
        <input class="form-control" type="url" id="FB" name="FB" value="{{.FB}}">
        <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
      </form>

      <!-- email -->
      <form action="/clientupdate/{{.ID}}" class="d-md-flex my-3 gap-3" method="POST">
        <label for="email" class="form-label w-25">Email:</label>
        <input class="form-control" type="email" id="email" name="email" value="{{.Email}}">
        <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
      </form>

       <!-- adres -->
      <form action="/clientupdate/{{.ID}}" class="d-md-flex my-3 gap-3" method="POST">
        <label for="adres" class="form-label w-25">Adres:</label>
        <input class="form-control" type="text" id="adres" name="adres" value="{{.Adres}}">
        <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
      </form>

      <!-- adres Google CODE -->
      <form action="/clientupdate/{{.ID}}" class="d-md-flex my-3 gap-3" method="POST">
        <label for="adresgooglecode" class="form-label w-25">Google map CODE:</label>
        <input class="form-control" type="text" id="adresgooglecode" name="adresgooglecode" value="{{.AdresGoogleCODE}}">
        <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
      </form>

      <!-- google map URL -->
      <form action="/clientupdate/{{.ID}}" class="d-md-flex my-3 gap-3" method="POST">
        <label for="googlemapurl" class="form-label w-25">Google Map:</label>
        <input class="form-control" type="url" id="googlemapurl" name="googlemapurl" value="{{.GoogleMapURL}}">
        <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
      </form>

      <!-- status -->
      <form action="/clientupdate/{{.ID}}" class="d-md-flex my-3 gap-3" method="POST">
        <label for="status" class="form-label w-25">Status:</label>
        <input class="form-control" type="number" id="status" name="status" value="{{.Status}}">
        <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
      </form>

    </div>
  </div>
</div>

{{ end }}
