{{ range .Client}}

<div class="container">
  <div class=" h-75">
    <div class="mx-auto umw-80">

      <h3>Zmień dane Klienta #ID: {{.ID}}</h3>

      <form action="/clientupdate/{{.ID}}"  method="POST">
        <!-- Name -->
        <div class="d-md-flex my-3 gap-3">
          <label for="name" class="form-label w-25">Nazwa:</label>
          <input class="form-control" type="text" id="name" name="name" value="{{.Name}}">
          <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
        </div>

        <!-- NIP -->
        <div class="d-md-flex my-3 gap-3">
          <label for="nip" class="form-label w-25">Nip:</label>
          <input class="form-control" type="number" id="nip" name="nip" value="{{.Nip}}">
          <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
        </div>

        <!-- Phone -->
        <div class="d-md-flex my-3 gap-3">
          <label for="phone" class="form-label w-25">Telefon:</label>
          <input class="form-control" type="tel" id="phone" name="phone" value="{{.Phone}}">
          <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
        </div>

        <!-- Contact Persone Name -->
        <div class="d-md-flex my-3 gap-3">
          <label for="contactpersone" class="form-label w-25">Osoba Kontaktowa</label>
          <input class="form-control" type="text" id="contactpersone" name="contactpersone" value="{{.ContactPersone}}">
          <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
        </div>

        <!-- Contact persone Phone -->
        <div class="d-md-flex my-3 gap-3">
          <label for="personephone" class="form-label w-25">Numer telefonu:</label>
          <input class="form-control" type="tel" id="personephone" name="personephone" value="{{.PersonePhone}}">
          <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
        </div>

        <!-- www -->
        <div class="d-md-flex my-3 gap-3">
          <label for="WWW" class="form-label w-25">WWW:</label>
          <input class="form-control" type="url" id="WWW" name="WWW" value="{{.WWW}}">
          <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
        </div>

        <!-- FB  -->
        <div class="d-md-flex my-3 gap-3">
          <label for="FB" class="form-label w-25">FB:</label>
          <input class="form-control" type="url" id="FB" name="FB" value="{{.FB}}">
          <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
        </div>

        <!-- email -->
        <div class="d-md-flex my-3 gap-3">
          <label for="email" class="form-label w-25">Email:</label>
          <input class="form-control" type="email" id="email" name="email" value="{{.Email}}">
          <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
        </div>

        <!-- adres -->
        <div class="d-md-flex my-3 gap-3">
          <label for="adres" class="form-label w-25">Adres:</label>
          <input class="form-control" type="text" id="adres" name="adres" value="{{.Adres}}">
          <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
        </div>

        <!-- adres Google CODE -->
        <div class="d-md-flex my-3 gap-3">
          <label for="adresgooglecode" class="form-label w-25">Google map CODE:</label>
          <input class="form-control" type="text" id="adresgooglecode" name="adresgooglecode" value="{{.AdresGoogleCODE}}">
          <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
        </div>

        <!-- google map URL -->
        <div class="d-md-flex my-3 gap-3">
          <label for="googlemapurl" class="form-label w-25">Google Map:</label>
          <input class="form-control" type="url" id="googlemapurl" name="googlemapurl" value="{{.GoogleMapURL}}">
          <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
        </div>

        <!-- status -->
        <div class="d-md-flex my-3 gap-3">
          <label for="status" class="form-label w-25">Status:</label>
          <select class="form-select" name="status">
            <option value="-5" {{ if eq -5 .Status}} selected {{end}} >Niezainteresowany</option>
              <option value="-2" {{ if eq -2 .Status}} selected {{end}} >Raczej niezainteresowany</option>
              <option value="0" {{ if eq 0 .Status}} selected {{end}} >Skontaktuj</option>
              <option value="5" {{ if eq 5 .Status}} selected {{end}} >Może zainteresowany</option>
              <option value="10" {{ if eq 10 .Status}} selected {{end}} >Zainteresowany</option>
          </select>
          <button class="btn btn-outline-warning d-flex align-self-sm-end align-self-md-end" type="submit">zmień</button>
        </div>

      </form>
      <a href="/tabview/" class="btn btn-primary">Widok listy</a>
    </div>
  </div>
</div>

{{ end }}
