{{ range .Client}}
<div class="container py-4 py-xl-5">
  <div class="row mb-5">
    <div class="col-md-8 col-xl-6 text-center mx-auto p-4">
      <h2>{{.Name}}</h2>
      <p class="text-start">NIP:{{.Nip}}</p>
      <p class="text-start">Adres:{{.Adres}}</p>
      <a href="{{.GoogleMapURL}}"><p class="text-start">Google MAPS link: LINK</p></a>

      <p class="text-start">KOD Google MAPS:{{ .AdresGoogleCODE }}</p>
    </div>
  </div>
  <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">
    <div class="col">
      <div class="p-2">
        <span class="badge rounded-pill bg-primary mb-2">Article</span>
        <h4>Kontakt</h4>
        <a href="tel:+48{{.Phone}}"><p>Telefon: {{.Phone}}</p></a>
        <a href="{{.WWW}}"><p>WWW: {{.WWW}}</p></a>

        <p>email: {{.Email}}</p>
        <p>FB: {{.FB}}</p>
        <a href="tel:+48{{.PersonePhone}}">
          <div class="d-flex">
            <img
              class="rounded-circle flex-shrink-0 me-3 fit-cover"
              width="50"
              height="50"
              src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"
            />
            <div>
              <p class="fw-bold mb-0">{{.ContactPersone}}</p>
              <p class="text-muted mb-0">{{.PersonePhone}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="p-2">
        <h4>Dane kontaktu</h4>
        <p>Pierwszy kontakt:</p>
        <p>Ostatni kontakt</p>
        <p>Planowany Kontakt</p>
        <p>Status:</p>
      </div>
    </div>
  </div>
</div>
{{end}}
