<nav>
  tu jest nawigacaja
</nav>


<section>
  <div class="container d-flex justify-content-center u-vh-80">
    <div class="main my-auto">
      <div id="row-a" class="hexcontainer row-odd">
        {{ range .Cities }} {{ if le .MapPosition 8 }}
        <div
          id="{{.MapPosition}}"
          class="d-flex flex-column justify-content-around align-items-center hex-shape"
        >
          <div>
            <img src="icons/icon_gold.svg" width="30px" /><img
              src="icons/icon_wood.svg"
              width="30px"
            />
            <p>Miasto da: {{.Award}}</p>
          </div>
          <div>
            <p class="mx-auto fw-bold">{{.MapPosition}}.{{.Name}}</p>
          </div>
          <div>
            <p>{{.Requires}}</p>
            <img src="icons/icon_gold.svg" width="30px" /><img
              src="icons/icon_wood.svg"
              width="30px"
            />
          </div>
        </div>
        {{ end }} {{end}}
      </div>

      <div id=" row-b" class="hexcontainer row-even">
        {{ range .Cities }} {{ if and (gt .MapPosition 8) (le .MapPosition 15) }}
        <div
          id="{{.MapPosition}}"
          class="d-flex flex-column justify-content-around align-items-center hex-shape"
        >
          <div>
            <img src="icons/icon_gold.svg" width="30px" /><img
              src="icons/icon_wood.svg"
              width="30px"
            />
            <p>Miasto da: {{.Award}}</p>
          </div>
          <div>
            <p class="mx-auto fw-bold">{{.MapPosition}}.{{.Name}}</p>
          </div>
          <div>
            <p>{{.Requires}}</p>
            <img src="icons/icon_gold.svg" width="30px" /><img
              src="icons/icon_wood.svg"
              width="30px"
            />
          </div>
        </div>
        {{ end }} {{end}}
      </div>

      <div id=" row-c" class="hexcontainer row-odd">
        {{ range .Cities }} {{ if and (gt .MapPosition 15) (le .MapPosition 23) }}
        <div
          id="{{.MapPosition}}"
          class="d-flex flex-column justify-content-around align-items-center hex-shape"
        >
          <div>
            <img src="icons/icon_gold.svg" width="30px" /><img
              src="icons/icon_wood.svg"
              width="30px"
            />
            <p>Miasto da: {{.Award}}</p>
          </div>
          <div>
            <p class="mx-auto fw-bold">{{.MapPosition}}.{{.Name}}</p>
          </div>
          <div>
            <p>{{.Requires}}</p>
            <img src="icons/icon_gold.svg" width="30px" /><img
              src="icons/icon_wood.svg"
              width="30px"
            />
          </div>
        </div>
        {{ end }} {{end}}
      </div>

      <div id=" row-d" class="hexcontainer row-even">
        {{ range .Cities }} {{ if and (gt .MapPosition 23) (le .MapPosition 30) }}
        <div
          id="{{.MapPosition}}"
          class="d-flex flex-column justify-content-around align-items-center hex-shape"
        >
          <div>
            <img src="icons/icon_gold.svg" width="30px" /><img
              src="icons/icon_wood.svg"
              width="30px"
            />
            <p>Miasto da: {{.Award}}</p>
          </div>
          <div>
            <p class="mx-auto fw-bold">{{.MapPosition}}.{{.Name}}</p>
          </div>
          <div>
            <p>{{.Requires}}</p>
            <img src="icons/icon_gold.svg" width="30px" /><img
              src="icons/icon_wood.svg"
              width="30px"
            />
          </div>
        </div>
        {{ end }} {{end}}
      </div>

      <div id=" row-e" class="hexcontainer row-odd">
        {{ range .Cities }} {{ if and (gt .MapPosition 30) (le .MapPosition 38) }}
        <div
          id="{{.MapPosition}}"
          class="d-flex flex-column justify-content-around align-items-center hex-shape"
        >
          <div>
            <img src="icons/icon_gold.svg" width="30px" /><img
              src="icons/icon_wood.svg"
              width="30px"
            />
            <p>Miasto da: {{.Award}}</p>
          </div>
          <div>
            <p class="mx-auto fw-bold">{{.MapPosition}}.{{.Name}}</p>
          </div>
          <div>
            <p>{{.Requires}}</p>
            <img src="icons/icon_gold.svg" width="30px" /><img
              src="icons/icon_wood.svg"
              width="30px"
            />
          </div>
        </div>
        {{ end }} {{end}}
      </div>
    </div>
  </div>
</section>



