<div class="container">
  <h1>Heading</h1>
  <p>Paragraph</p>
</div>
<div class="container">
  <div class="table-responsive-lg">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nazwa</th>
          <th>Ostatni kontakt</th>
          <th>Edytuj</th>
          <th>Usuń</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Clients }}
        <tr>
          <td>{{.ID}}</td>
          <td>{{.Name}}</td>
          <td>{{.UpdatedAt}}</td>
          <td>Edytuj</td>
          <td><a href="/clientdelete/{{.ID}}" class="btn btn-danger">Usuń</a></td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>
{{ template "partials/pagination" .}}
